

*{
  font-family: "Helvetica", sans-serif;
}

.align_right {
  text-align: right
}

.border_bottom{
    border-bottom: 1px solid
}

th{
    font-weight:bold
}

table{
    width: 100%;
    margin-top: 2em;
    border-collapse: collapse;
}

.bottom_row{
    font-size: large;
    font-weight: bold;
}

td{
    padding: 0.5em;
}

td:first-child {
    width: 33% ;
}

input{
    display: block;
    width: 100%;
    /*float:right*/
}

#input_form{
    margin: 0 auto;
    width: 60%;
    display:block;
}

/* REMOVE NUMBER INPUT ARROWS */
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* REMOVE NUMBER INPUT ARROWS */
